@import '../../../stylesheets/variables.scss';
@import '../../../stylesheets/mixins.scss';



.container {
    
    &__swiper {
        @include flexCenter;

        &__swiper-slide {
            @include flexCenter;
            &__signinimg {
                height: 450px !important;
                margin-top: 24px !important;
                width: 80% !important;
            }
        }
    }
}