@import '../../../stylesheets/variables.scss';
@import '../../../stylesheets/mixins.scss';

.custom__stepper {
  display: flex;
  justify-content: center;
  width: 100%;

  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: $Amaranth;
  }

  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: $Amaranth;
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
  justify-content: center;
  // width: 50%;
  }
}

