@import '../../../stylesheets/variables.scss';
@import '../../../stylesheets/mixins.scss';

.calendar {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  .css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem !important;
  }
  &__slot{
    display: flex;
    
  }

}