@import '../../../stylesheets/variables.scss';
@import '../../../stylesheets/mixins.scss';

.custom__card {
    box-sizing: border-box;
    background-color: var(--card-color ) !important;
    border: 1px solid var(--card-border-color ) !important;
    box-shadow: 0px 0px 4px var(--card-border-color ) !important;
    border-radius: 24px !important;
    display: flex;
    flex-direction: column;
    padding: 17px 26px 32px 20px;
    cursor: pointer;
    // text-align: center;
  
    &__logo__container {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
      
        img {
            @include WidthHeight(104px, 75px);
        }
    }
  
    &__content__container {
        display: flex;
        flex-direction: column;
        text-align: left !important;
    }
  
    .heading {
        font-weight: 700;
        font-size: 19px;
        color: $Maastricht_blue !important;
    }
  
    .description {
        font-weight: 400;
        font-size: 16px;
        color: $Css_grey !important;
    }
  
    @media only screen and (max-width: 600px) {
        @include WidthHeight(100%, auto);
        max-height: 400px;
        padding: 12px;
        flex-direction: row-reverse;
        font-size: 16px;
      
        &__logo__container {
            margin-left: auto;
            margin-right: 12px;
        }
      
        &__content__container {
            width: 60% !important;
            // align-items: flex-start;
        }
    }
}
